/* Tablet & Mobile */
@media (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }
   .hide-on-mobile-tablet {
       display: none;
   }

   .header__navbar-list {
       display: block;
   }

   .header__navbar-item {
       display: block;
       padding: 10px 0;
   }

   .header__navbar {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
    }

    .header__navbar-on-mobile {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: calc(100vh - 65vh);
        max-width: 100%;
        background-color: #fff;
        padding: 80px 20px 20px 20px;
        transform: translateX(100%);
        opacity: 0;
        transition: transform linear 0.2s;
        z-index: 29;
    }

    .show-on-mobile.header__navbar-on-mobile {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: calc(100vh - 65vh);
        max-width: 100%;
        background-color: #fff;
        padding: 80px 20px 20px 20px;
        transform: translateX(0);
        opacity: 1;
        transition: transform linear 0.2s;
        z-index: 28;
        -webkit-box-shadow: -10px 0 20px -10px rgb(0 0 0 / 10%);
        box-shadow: -10px 0 20px -10px rgb(0 0 0 / 10%);
    }

    #pencet{
        display:flex;
        align-items:center;
        background-color: initial;
        border: 1px solid rgba(0,0,0,.1);
        width: 40px;
        height: 36px;
        line-height: 34px;
        -webkit-border-radius: 3px;
        -khtml-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #222;
        position: relative;
        cursor: pointer;
      }
      
      #pencet:before, #pencet::after, #pencet span {
        -khtml-transition: all 300ms linear 0ms;
        -moz-transition: all 300ms linear 0ms;
        -ms-transition: all 300ms linear 0ms;
        -o-transition: all 300ms linear 0ms;
        transition: all 300ms linear 0ms;
        content: "";
        background-color: #222;
        display: block;
        height: 2px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        width: 24px;
        top: 23px;
      }

    #pencet:before {
        top: 9px;
    }

    #pencet span {
        top: 16px;
    }
      
    .Diam#pencet:before {
        top: 15px;
        -webkit-transform: rotate(45deg);
            -khtml-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
      }
      
    .Diam#pencet span {
        display: none;
    }
      
    .Diam#pencet::after {
        -webkit-transform: rotate(-45deg);
        -khtml-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 15px;
    }

    .header__navbar-on-mobile i {
        font-size: 2.6rem;
        line-height: 4.6rem;
        display: block;
    }

    .header__navbar-on-mobile a {
        color: var(--black-color);
        display: block;
        font-size: 2rem;
        padding: 10px 20px;
    }

    .awesome__product-detail {
        padding: 0 8px;
    }

    .awesome__product-name {
        font-size: 2.5rem;
    }

    .about-detail {
        margin-left: 0px;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .pagination-item {
        margin: 0;
    }

    .pagination-item__link {
        --height:28px;
        font-size: 1.6rem;
        min-width: 36px;
    }

    /* Home */
    .home_withus-tilte {
        font-size: 3rem;
    }

    .btn-shopnow {
        width: 100%;
    }

    /* subscribe */
    .subscribe-title {
        font-size: 2.5rem;
    }

    .subscribe__input-email {
        padding: 10px 7px;
        flex: 1;
    }

    .subscribe__input-email {
        font-size: 1.4rem;
        height: 40px;
    }

    .btn-white {
        font-size: 1.3rem;
        min-width: 100px;
        height: 40px;
    }

    .btn_product-item-cart, .btn_product-item-view {
        min-width: 100px;
    }

    .common_header-title {
        font-size: 2.4rem;
    }

    .about-experience {
        bottom: 0px;
        right: 0px;
    }

    .about-year {
        font-size: 2.5rem;
    }

    .about-caption {
        font-size: 1.5rem;
    }

}